.page-about
	.venSectionWrap
		background-color: $teal

	.venSection
		width: 100%
		max-width: 1000px
		margin: auto
		padding: 3em 0
		img
			border-radius: 50%

	.venSectionDescription
		width: 545px
		display: inline-block
		vertical-align: top
		margin-left: 5em
		margin-top: 5em
		color: black
		font-weight: 300
