.page-about
	.venSectionWrap
		background-color: $yellowO
		background: -webkit-linear-gradient($yellowO, whitesmoke) /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($yellowO, whitesmoke) /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($yellowO, whitesmoke) /* For Firefox 3.6 to 15 */
		background: linear-gradient($yellowO, whitesmoke) /* Standard syntax */

	.venSection
		width: 100%
		max-width: 1200px
		margin: auto
		padding: 7em 0
		height: 550px
		img
			border-radius: 50%

	.venSectionDescription
		width: 744px
		display: inline-block
		vertical-align: top
		margin-left: 5em
		margin-top: 5em
		color: black
		font-weight: 300

	.main
		width 100%
		max-width: 1200px
		padding: 0
		margin: 0 auto 10em auto

		p
			margin-bottom: 1em
