.page-home
	
	.videobg
		width: 100%
		background-color: $teal
		height: 450px
		padding: 1em 0

		video
			width: 100%
			height: 100%

	.streetteamAdWrap
		background-color: $yellow
		width: 100%

	.streetteamAd
		width 100%
		max-width: 1000px
		margin: auto
		padding: 6em 0 0 0
		height: 450px
		
		img
			display: inline-block

	.streetteamAdDescription
		display: inline-block
		width: 640px
		vertical-align: top
		margin-top: 3em
		margin-left: 3em