.page-home
	
	.videobg
		width: 100%
		background-color: $tealO
		height: 550px
		padding: 3em 0

		video
			display: block
			height: 100%
			margin: 0 auto
			box-shadow: 0px 0px 3px rgba(60,62,64,1)
			// top: -70px
			// position: absolute

	.main
		width 100%
		max-width: 1200px
		height: 550px
		padding: 10em 0
		margin: auto

		p
			margin-bottom: 1em

	.streetteamAdWrap
		background-color: $yellowO
		width: 100%

	.streetteamAd
		width 100%
		max-width: 1200px
		margin: auto
		padding: 3.75em 0
		height: 275px
		
		img
			display: inline-block
			border-radius: 50%

	.streetteamAdDescription
		display: inline-block
		width: 744px
		vertical-align: top
		margin-left: 5em
		margin-top: 3em
		h2
			font-weight: 400